<div *ngIf="profile" class="profile-container">
  <div class="profile-header-with-search">
    <div class="profile-header">
      <img [src]="profile.avatar" alt="avatar" class="profile-avatar" />
      <div class="profile-info">
        <h1>{{ profile.username }}</h1>
        <div class="desc">
          <div class="desc-item">
            <span class="desc-value">{{ subscribers.length }}</span>
            <div class="desc-label">Подписчики</div>
          </div>
          <div class="desc-item">
            <span class="desc-value">{{ playlists.length }}</span>
            <div class="desc-label">Плейлисты</div>
          </div>
        </div>
        <div class="profile-details">
          <div *ngIf="profile.birth_date" class="profile-detail">
            <p><img src="assets/bod.svg">Год рождения - {{ profile.birth_date | date:'yyyy' }}</p>
          </div>
          <div *ngIf="profile.location" class="profile-detail">
            <p><img src="assets/location.svg">Город - {{ profile.location }}</p>
          </div>
          <div *ngIf="profile.bio" class="profile-detail">
            <p style="margin-top: 1em;">{{ profile.bio }}</p>
          </div>
        </div>
        <div class="profile-actions-subsc">
          <button class="btn" (click)="navigateToSubscribers(profile.userid)">Посмотреть подписчиков</button>
          <button class="btn" (click)="navigateToSubscriptions(profile.userid)">Посмотреть подписки</button>
        </div>
      </div>
    </div>
    <div class="profile-search-action">
      <div *ngIf="profile && showSubscribeBtn" class="profile-subscribe">
        <button *ngIf="!isSubscribed" (click)="onSubscribe(profile.userid)" class="subsc-btn"><img src="assets/subsc.svg" alt="Подписка"></button>
        <button *ngIf="isSubscribed" (click)="onUnsubscribe(profile.userid)" class="subsc-btn"><img src="assets/unsubsc.svg" alt="Отписка"></button>
      </div>
      <div class="profile-actions">
        <button *ngIf="isOwnProfile" class="edit_profile" (click)="openEditProfileDialog()"><img src="assets/edit.svg" alt="Редактировать профиль"></button>
        <button *ngIf="isOwnProfile" class="exit" (click)="logout()"><img src="assets/exit.svg" alt="Выйти"></button>
      </div>
      <div class="profile-search-block">
        <div class="search-users-container">
          <input [(ngModel)]="searchQuery" (keyup.enter)="searchUsers()" placeholder="Поиск пользователей..." class="search-users-input">
          <button (click)="searchUsers()" [disabled]="searchLoading" class="search-users-btn">Поиск</button>
          <button *ngIf="searchQuery || searchResults.length" (click)="clearSearch()" class="clear-search-btn">✖</button>
        </div>
        <div *ngIf="searchLoading" class="loading-text">Поиск...</div>
        <div *ngIf="searchError" class="error-msg">{{ searchError }}</div>
        <div class="search-users-results">
          <div class="user-card" *ngFor="let user of searchResults" (click)="navigateToProfile(user.userid)">
            <img [src]="user.avatar" class="avatar" [alt]="user.username">
            <span class="username">{{ user.username }}</span>
          </div>
          <div *ngIf="!searchLoading && searchResults.length === 0 && searchQuery" class="no-results">Пользователи не найдены</div>
        </div>
      </div>
    </div>
  </div>
  <div class="profile-playlists">
    <h2>Публичные плейлисты</h2>
    <div class="playlists-grid">
        <div class="playlist-card" *ngFor="let playlist of playlists; let i = index;" (click)="navigateToPlaylist(playlist.playlistid)">
          <div class="playlist-poster"
              [style.background]="playlistGradients[i]"
              role="img">
          </div>
          <div class="playlist-info">
            <h3>{{ playlist.name }}</h3>
          </div>
        </div>
      </div>
    </div>
</div> 
<app-update-user-profile-dialog *ngIf="dialogOpen" [profile]="profile" (close)="onDialogClose($event)"></app-update-user-profile-dialog>