<div class="container">
    <div class="playlists-header">
      <h1>Плейлисты</h1>

      <div class="action-buttons" style="display: flex; gap: 10px; justify-content: flex-end; margin-bottom: 24px;">
        <button class="action-btn" (click)="openCreateDialog()">Создать плейлист</button>
        <button class="action-btn" (click)="openGenerateDialog()">Сгенерировать плейлист</button>
      </div>
    </div>
    
    <div *ngIf="isError" class="error-fullpage">
      Вы пока не имеете плейлистов 😭
    </div>

    <div class="playlists-grid">
      <div class="playlist-card"
           *ngFor="let playlist of playlists; let i = index; trackBy: trackByPlaylistId"
           (click)="navigateToPlaylist(playlist.playlistid)">
        
        <div class="playlist-poster"
             [style.background]="playlistGradients[i]"
             [attr.aria-label]="playlist.name"
             role="img">
        </div>
        
        <div class="playlist-info">
          <h3>{{ playlist.name }}</h3>
          <p *ngIf="playlist.description !== ''">Описание: {{ playlist.description }}</p>
          <p *ngIf="playlist.description === ''">Описание отсутствует</p>
          <!-- <p>Кол-во классов: {{ playlist.additions_count }}</p> -->
        </div>
      </div>
    </div>
</div>
  