h1 {
  font-size: 2.25em;
  font-weight: 700;
  margin-bottom: 0;
}

h2 {
  font-size: 1.8em;
  font-weight: 500;
  margin-top: 0;
}

.films-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.film-card {
  position: relative;
  aspect-ratio: 2/3;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
}

.film-poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.film-card:hover .film-poster {
  transform: scale(1.05);
}

.film-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 15px;
  transform: translateY(0);
  transition: transform 0.3s ease;
}

.film-name {
  margin: 0 0 10px 0;
  font-size: 1.1em;
  font-weight: 800;
}

.film-info p {
  margin: 0.31em 0;
  font-size: 0.9em;
  font-weight: 400;
}

.type-label {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 2px 8px;
  border-radius: 4px;
  font-size: 12px;
  margin-top: 5px;
}

.playlist-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-buttons {
  display: flex;
  flex-direction: row;
  gap: 1.25em;
  margin-left: auto;
  background: none;
}

.action-btn img {
  width: 40px;
  height: 40px;
  display: block;
  margin: 0;
  padding: 0;
  background: none;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  background: none;
}

.remove-btn {
  position: absolute;
  top: 6px;
  right: 6px;
  border: none;
  cursor: pointer;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.creator-avatar {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #2196f3;
  background: #fff;
  cursor: pointer;
  z-index: 2;
  box-shadow: 0 2px 8px rgba(0,0,0,0.12);
  transition: box-shadow 0.2s;
}

.creator-avatar:hover {
  box-shadow: 0 4px 16px rgba(33,150,243,0.25);
}

.creator-avatar-admin {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #f44336;
  background: #fff;
  cursor: pointer;
  z-index: 2;
  box-shadow: 0 2px 8px rgba(0,0,0,0.12);
  transition: box-shadow 0.2s;
}

.creator-avatar-admin:hover {
  box-shadow: 0 4px 16px rgba(244,67,54,0.25);
}

.error-fullpage {
  color: #fff;
  text-align: center;
  margin-top: 80px;
  font-size: 24px;
  font-weight: bold;
}

.dialog-overlay {
  position: fixed;
  inset: 0; /* top:0; right:0; bottom:0; left:0; */
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.title-with-avatars {
  display: flex;
  align-items: center;
  gap: 12px;
}

.collaborators-avatars {
  display: flex;
  gap: 8px; /* Добавляет отступ между аватарками */
}

.creator-avatar-all {
  position: relative;
  top: 14px;
  right: 6px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #46be7c;
  background: #fff;
  cursor: pointer;
  z-index: 2;
  box-shadow: 0 2px 8px rgba(0,0,0,0.12);
  transition: box-shadow 0.2s;
}

