.dialog-header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.dialog-title {
  flex: 1;
  text-align: center;
  margin-bottom: 0.5em;
  font-size: 2em;
  font-weight: 700;
}
.close-btn {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 2;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 22px 22px;
  margin: 28px 0;
}

.grid-item {
  background: #252525;
  border-radius: 12px;
  padding: 18px 10px 16px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  box-sizing: border-box;
  box-shadow: 0 2px 8px rgba(0,0,0,0.10);
  
}
.char-label {
  font-size: 1.13rem;
  margin-bottom: 14px;
  color: #d9d9d9;
  text-align: center;
  font-weight: 600;
}

.buttom-actions {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 18px;
}

.action-btn {
  background: #252525;
  color: #d9d9d9;
  border: none;
  width: 25em;
  text-align: center;
  border-radius: 15px;
  padding: 1em 2em;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
  margin-bottom: 1.5em;
}

.action-btn:hover {
  background: #323232;
  color: #dfdfdf;
} 

.rating-options-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  width: 100%;
  margin-top: 2px;
}

.rating-options-grid button {
  background: #323232;
  color: #d9d9d9;
  border: none;
  border-radius: 8px;
  padding: 10px 0;
  font-size: 1rem;
  font-weight: 200;
  cursor: pointer;
  transition: background 0.2s, color 0.2s, box-shadow 0.2s;
  min-width: 0;
  outline: none;
}

button {
  font-family: 'Montserrat';
}

.rating-options-grid button:hover:not(.selected) {
  background: #444;
}

.rating-options-grid button.selected {
  color: #fff;
  font-weight: 500;
}
.rating-options-grid button.selected.bad {
  background: #bd6058;
}
.rating-options-grid button.selected.normal {
  background: #c59e50;
}
.rating-options-grid button.selected.good {
  background: #6d51c9; 
}
.rating-options-grid button.selected.excellent {
  background: #46be7c;
}