.container {
  max-width: 100%; 
}

h1 {
  font-size: 2.25em;
  font-weight: 700;
}

.films-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}

.film-row {
  display: flex;
  flex-direction: row;
  background: #181818;
  border-radius: 15px;
  box-shadow: 0 2px 12px rgba(0,0,0,0.18);
  padding: 18px 24px;
  gap: 28px;
  position: relative;      
  box-sizing: border-box; 
}

.poster-block {
  min-width: 110px;
  max-width: 110px;
  cursor: pointer;
}

.film-poster {
  width: 110px;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.22);
  transition: transform 0.2s;
}
.film-poster.clickable:hover {
  transform: scale(1.04);
}

.info-block {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
}

.film-title {
  font-size: 1.3em;
  font-weight: 700;
  margin-bottom: 0.25em;
}

.film-meta {
  color: #777777;
  margin-bottom: 1.7em;
}

.ratings-table {
  display: grid;
  grid-template-columns: 0.2fr 0.2fr;
  gap: 6px 24px;
}

.rating-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.08rem;
}
.char-label {
  min-width: 110px;
}
.char-value {
  font-weight: 600;
  color: #fff;
  min-width: 110px;
  text-align: center;
  display: inline-block;
  padding: 2px 14px;
  border-radius: 12px;
  margin-left: 8px;
  background: #2a2a2a;
  transition: background 0.2s, color 0.2s;
}

/* .char-value.bad { background: #FF6961; }       
.char-value.normal { background: #FFC067; }     
.char-value.good { background: #8080FF; }      
.char-value.excellent { background: #77dd77; } */

.char-value.bad { background: #bd6058; }       
.char-value.normal { background: #c59e50; }     
.char-value.good { background: #6d51c9; }      
.char-value.excellent { background: #46be7c; }

.action-buttons {
  display: flex;
  flex-direction: column;
  gap: 0.625em;
  margin-left: auto;
}

.action-buttons img {
  width: 35px;
  height: 35px;
  display: block;
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  background: none;
}

.error-fullpage {
  text-align: center;
  margin-top: 80px;
  font-size: 24px;
  font-weight: bold;
}
