/* Гарантируем корректный box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.dialog-header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.dialog-title {
  flex: 1;
  text-align: center;
  margin-bottom: 0.5em;
  font-size: 2em;
  font-weight: 700;
}
.close-btn {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 2;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 22px 22px;
  margin-top: 10px;
}

.grid-item {
  background: #1e1e1e;
  border-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 100px;
  min-height: 60px;
  box-sizing: border-box;
}

.grid-item-name {
  grid-column: span 2;
}

.grid-item-description {
  grid-column: span 2;
}

.grid-item-public {
  grid-column: span 2;
  display: flex;
  align-items: start;
  justify-content: start;
}


.input-label {
  font-weight: 600;
  margin-bottom: 6px;
  color: #777777;
  font-size: 1em;
}

.custom-input,
.custom-textarea {
  width: 100%;
  max-width: 100%;
  padding: 10px;
  border: 1px solid #252525;
  background: #252525;
  color: #f0f0f0;
  border-radius: 6px;
  font-size: 1.1em;
  font-weight: 400;
  outline: none;
  transition: border-color 0.2s, background 0.2s;
  font-family: 'Montserrat';
}

.custom-input:focus,
.custom-textarea:focus {
  border-color: #252525;
  background: #2c2c2c;
}

.custom-textarea {
  resize: vertical;
  min-height: 100px;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  color: #ccc;
  font-family: 'Montserrat';
  font-size: 1.1em;
}

.custom-checkbox input[type="checkbox"] {
  width: 18px;
  height: 18px;
  accent-color: #777;
}


.action-btn {
  background: #252525;
  color: #d9d9d9;
  border: none;
  width: 25em;
  text-align: center;
  border-radius: 15px;
  padding: 1em 2em;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
  margin-bottom: 1.5em;
}

.action-btn:hover {
  background: #323232;
  color: #dfdfdf;
} 

.error-msg {
  color: #f44336;
  font-weight: 600;
  margin-bottom: 16px;
  text-align: center;
}
