.main-info-block {
  display: flex;
  align-items: stretch;
  height: auto;
}

.poster {
  display: block;
  height: 30.5em;
  width: auto;
  border-radius: 4.7% / 3.3%;
  object-fit: cover;
}

.info {
  padding-left: 2.71vw;
  display: block;
  max-width: 70%;
}

.info h1 {
  line-height: 1;
  margin: 0;
  font-size: 3em;
  font-weight: 700;
}

.info h2 {
  color: #777777;
  font-size: 1.875em;
  font-weight: 300;
  margin: 0 0 1.46vh;
}

.basic-info {
  border-collapse: collapse;
  font-size: 1.625em;
  font-weight: 500;
}

.basic-info td {
  vertical-align: top;
}

.basic-info tr {
  line-height: 1.5;
}

.basic-info td:first-child {
  color: #777777;
  font-weight: 400;
  text-align: left;
  min-width: 13em;
  padding-left: 0;
}

.ratings {
  display: flex;
  flex-direction: row;
  margin-top: 1.46vh;
  gap: 1.25em;
  align-items: flex-start;
}

.rating-item {
  width: max-content;
  display: inline-block;
  text-align: center;
}

.rating-value {
  font-size: 3.125em;
  font-weight: 700;
}

.rating-max {
  font-size: 1.5em;
  font-weight: 400;
  color: #777777;
}

.rating-label {
  font-size: 1.5em;
  font-weight: 400;
  line-height: 0.75em;
}

.trailer-links {
  display: flex;
  gap: 1em;
  flex-direction: column;
}

.trailer-links a {
  color: #d9d9d9;
  text-decoration: none;
  text-align: right;
  font-size: 1.3em;
  font-weight: 800;
}

.sidebar {
  flex-grow: 1;
  display: flex;
  min-width: 4em;
  max-height: 30.5em;
  margin-left: auto;
  flex-direction: column;
  justify-content: space-between;
}

.user-rating-block {
  background: #151515;
  border-radius: 15px;
  padding: 1em 1.5em;
  font-size: 1em;
}

.rating-characteristics {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.3em 3em;
  background: #151515;
  border-radius: 15px;
  padding: 1em 1.5em;
  font-size: 1em;
}

.rating-char-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.char-label {
  min-width: 6.8em;
}
.rate-value {
  font-weight: 600;
  margin-left: 1.5em;
}

.rates {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10em;
}

.action-buttons {
  display: flex;
  flex-direction: column;
  gap: 0.625em;
  margin-left: auto;
}

.action-buttons img, .add-button img {
  width: 40px;
  height: 40px;
  display: block;
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  background: none;
}

.description-block {
  font-size: 1.5em;
  text-align: justify;
  font-weight: 300;
}

h3 {
  font-size: 2.25em;
  margin: 0 0 0.625em 0;
}

.scroll-list {
  display: flex;
  align-items: center;
  flex-shrink: 1;
  flex-grow: 1;
}

.scroll-button {
  display: flex;
  flex: 0 0 auto;
  position: relative;
  z-index: 10;
  background: none;
  border: none;
  cursor: pointer;
  pointer-events: auto;;
  height: 40px; /*49.48*/
  width: 40px; /*24.74*/
  align-items: center;
  justify-content: center;
}

.scroll-button img {
  /* width: 28px;
  height: 28px; */
  align-items: center;
  text-align: center;
  pointer-events: none;
}

.person-card {
  width: 11em; /* ширина карточки */
  height: 17em;  /* высота карточки */
  background: #1e1e1e;
  border-radius: 15px;
  /* box-shadow: 0 2px 12px rgba(0,0,0,0.25); */
  /* transition: transform 0.2s, box-shadow 0.2s; */
  /* cursor: pointer; */
  padding: 0.75em 0.5em;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: flex-start;
}

.listForScroll {
  display: flex;
  flex: 1 1 auto;
  gap: 1.4375em;
  width: 100%;
  overflow-x: auto;
  flex-wrap: nowrap;
  margin: 0;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding: 0 0.5em;
  position: relative;
}

.list-block {
  margin: 0;
  border-collapse: collapse;
}

.list-section {
  margin-bottom: 1.875em;
}

.listForScroll::-webkit-scrollbar {
  height: 0;
  width: 0;
}
  
/* для кликов */
/* .person-card:hover {
  transform: scale(1.07);
  box-shadow: 0 4px 24px rgba(0,0,0,0.35);
  background: #232323;
} */
  
.person-card img {
  width: 10em;
  height: 13em;
  object-fit: cover;
  border-radius: 15px;
  margin: 0.5em 0.5em;
  display: block;
}

.person-card p {
  margin: 0;
  font-weight: 700;
  word-break: break-word;   
  white-space: normal;       
  max-width: 100%;           
  overflow-wrap: break-word;   
  text-align: center;         
}

.episode-card {
  width: 33.2em;
  height: 20em;
  background: #1e1e1e;
  border-radius: 15px;
  padding: 0.75em 0.5em;
  display: flex;
  flex-direction: column;
  flex: 0 0 33.2em;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.episode-card img {
  width: 31em;
  height: 17em;
  object-fit: cover;
  border-radius: 15px;
  margin: 0.8125em 1.25em;
  display: block;
}

.episode-card p {
  margin: 0;
  font-weight: 700;
  word-break: break-word;   
  white-space: normal;       
  max-width: 100%;           
  overflow-wrap: break-word;   
  text-align: center;  
}

.episode-description-overlay {
  position: absolute;
  bottom: 0; left: 0; right: 0;
  background: rgba(30, 30, 30, 0.9);
  padding: 0.75em;
  transform: translateY(100%);
  transition: transform 0.3s ease;
  max-height: 100%;
  overflow-y: auto;
}

.episode-description-overlay p {
  text-align: justify;
  font-weight: 400;
  line-height: 1.4em;
  font-size: 0.875em;
}

.episode-card:hover .episode-description-overlay {
  transform: translateY(0);
}

/* для клика */
/* .episode-card:hover {
  transform: scale(1.07);
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.35);
  background: #232323;
} */

