<div class="container">
    <h1>Список запланированных</h1>

    <div *ngIf="isError" class="error-fullpage">
      Вы пока ничего не добавили 😫
    </div>
    
    <div class="films-grid">
      <div class="film-card" 
           *ngFor="let film of films; trackBy: trackByFilmId"
           (click)="navigateToFilm(film.filmid)"
           (mouseenter)="showFilmInfo(film)" 
           (mouseleave)="hideFilmInfo()">
        <img [src]="film.poster_link" [alt]="film.name" class="film-poster">
        
        <div class="film-info" *ngIf="hoveredFilm === film">
          <div class="film-name">
            {{ film.name }}
            <span style="font-weight: 400; color: #9d9d9d;">{{ film.release_year }}</span>
          </div>

          <p *ngIf="film.alternative_name" class="alternative-name">{{ film.alternative_name }}</p>
          
          <p>{{ film.countries.join(', ') }}</p>
          
          <ng-container *ngIf="film.time_minutes != null && film.time_minutes !== 0; else serialCard">
            <p>{{ film.time_minutes }} мин</p>
            <p class="type-label">Фильм</p>
          </ng-container>
          
          <ng-template #serialCard>
            <p>{{ film.season }} сезон</p>
            <p class="type-label">Сериал</p>
          </ng-template>
        </div>
      </div>
    </div>
  </div>