h1 {
  font-size: 2.25em;
  font-weight: 700;
}

.films-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1.25em;
}

.film-card {
  position: relative;
  aspect-ratio: 2/3;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
}

.film-poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.film-card:hover .film-poster {
  transform: scale(1.05);
}

.film-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  padding: 0.94em;
  transform: translateY(0);
  transition: transform 0.3s ease;
}

.film-name {
  margin: 0 0 10px 0;
  font-size: 1.1em;
  font-weight: 800;
}

.film-info p {
  margin: 0.31em 0;
  font-size: 0.9em;
  font-weight: 400;
}

.type-label {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0.125em 0.5em;
  border-radius: 4px;
  font-size: 0.9em;
  margin-top: 0.3125em;
}

.error-fullpage {
  color: #fff;
  text-align: center;
  margin-top: 5em;
  font-size: 1.5em;
  font-weight: 700;
}